<body id="home">

<% if signed_in? %>
	<div class="row">

		<aside class="span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>
			<section>
				<%= render 'shared/post_form' %>
			</section>
		</aside>
		<div class="span8">
			<h3>Log Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	
	<div class="front">

			<%= link_to image_tag("", alt: ""), '' %> <br><br><br>

			<aside class= "span4">

			<h6>Twitter Feed</h6>
				<% for i in 1..10 do %>
					<p>
				 	<%= @results['views']['entities']['data'][i]['raw']['text'] %>
				 	<br>
				 	<b><%= @results['views']['entities']['data'][i]['raw']['user']['name'] %></b>
				 	<br>
				 	<i><%= @results['views']['entities']['data'][i]['raw']['user']['created_at'] %></i>
				 	</p>
	 	
				<% end %>

				<%= link_to "Sign up now!", signup_path, class: "btn btn-medium btn-primary" %>

			</aside>
	</div>

<% end %>
</body>